<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <bean id="cart" class="com.jsp.hibernate_case_study_1.entity.Cart" autowire="byType"></bean>
    <bean id="product" class="com.jsp.hibernate_case_study_1.entity.Product"></bean>
    <bean id="cartdao" class="com.jsp.hibernate_case_study_1.dao.CartDao"></bean>
    <bean id="productdao" class="com.jsp.hibernate_case_study_1.dao.ProductDao"></bean>
    <bean id="productservice" class="com.jsp.hibernate_case_study_1.service.ProductService"></bean>
    <bean id="cartservice" class="com.jsp.hibernate_case_study_1.service.CartService" primary="true"></bean>
    
</beans>